@charset "utf-8";
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/montserrat_400.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/montserrat_700.woff2) format('woff2');
}
body{
    background-color: #FFF;
}
.bd_clear{
    clear: both;
}
.header{
    background-color: #FFF;
    padding: 10px 0px;
}
.logo{
    float: left;
}
.logo a img{
    max-width: 100%;
}
.nav_wrap{
    float: right;   
    margin-top: 25px;
}
ul.navigation{
    margin: 0px;
    padding: 0px;
}
ul.navigation > li{
    list-style: none;
    float: left;
}
ul.navigation > li > a{
    display: inline-block;
    text-transform: uppercase;
    color: #1e1e1e;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    padding: 5px 15px;
    font-weight: bold;
}
ul.navigation > li > a.active{
    color: #c10d01;
}
ul.navigation > li > a:active,
ul.navigation > li > a:focus{
    color: #1e1e1e;
    text-decoration: none;
    outline: none;
}
ul.navigation > li > a:hover{
    color: #c10d01;
    text-decoration: none;
}
.banner_wrap{
    position: relative;
    margin-bottom: 50px;
}
.cap_wrap{
    text-align: right;
    position: absolute;
    z-index: 999;
    bottom: 100px;
    width: 100%;
    left: 0px;
}
.cap_block{
    display: inline-block;
    text-align: right;
    text-transform: uppercase;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
}
.cap_block h4{
    font-size: 30px;
    color: #FFF;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
}
.cap_block h3{
    color: #ff3333;
    padding: 3px 10px;
    border: 1px solid #ff3333;
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 10px;
}
.cap_block h2{
    font-size: 46px;
    font-weight: bold;
    color: #FFF;
    margin-top: 0px;
    margin-bottom: 10px;
}
.cap_block a{
    display: inline-block;
    padding: 5px 15px;
    color: #FFF;
    background-color: #f33;
    font-size: 15px;    
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.cap_block a:active,
.cap_block a:focus{
    color: #FFF;
    text-decoration: none;
    outline: none;
}
.cap_block a:hover{
    background-color: #d60000;
    color: #FFF;
    text-decoration: none;
}
.banner_box{
    position: relative;
    width: 100%;
    height: 613px;
}
.banner_box1{
    background: url(../images/banner1.jpg) no-repeat center;
    background-size: cover;
}
.banner_box2{
    background: url(../images/banner2.jpg) no-repeat right;
    background-size: cover;
}
.banner_control_wrap{
    position: absolute;
    z-index: 9999;
    width: 100%;
    top: 220px;
    left: 0px;
    text-align: right;
}
.banner_control_wrap a{
    display: inline-block;
    color: #f3f1f1;
    width: 38px;
    height: 38px;
    line-height: 33px;
    margin: 0px 3px;
    border: 1px solid #f3f1f1;
    text-align: center;
    font-size: 28px;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.banner_control_wrap a:active,
.banner_control_wrap a:focus{
    text-decoration: none;
    outline: none;
    color: #FFF;
}
.banner_control_wrap a:hover{
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #FFF;
}
.banner_control_wrap img{
    max-width: 100%;
}
.item_head_block{
    position: relative;
    margin: 15px 0px;
}
.item_head_block img{
    max-width: 100%;
}
.item_head_block_inner{
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    padding: 200px 15px 15px 15px;
}
.item_head_block_inner h3{
    font-size: 30px;
    text-transform: uppercase;
}
.item_head_block_inner a{
    display: inline-block;
    background-color: #2e3192;
    color: #FFF;
    text-transform: uppercase;
    padding: 5px 20px;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.item_head_block_inner a:active,
.item_head_block_inner a:focus{
    text-decoration: none;
    outline: none;
    color: #FFF;
}
.item_head_block_inner a:hover{
    background-color: #4044c9;
    color: #FFF;
    text-decoration: none;
}
.item_head{
    position: absolute;
    bottom: 70px;
    left: 0px;
    width: 100%;
    padding: 15px;
}
.product_box{
    margin: 15px 0px;
}
.product_box img{
    max-width: 100%;
}
.product_box h5{
    font-size: 18px;
}
.product_box p{
    color: #6c6c6c;
}
.product_box h4{
    font-size: 20px;
    color: #000;
}
.product_box h4 i{
    margin-right: 3px;
    font-size: 18px;
}
.footer{
    background: url(../images/footer_bg.jpg) no-repeat top;
    background-attachment: fixed;
    background-size: cover;
}
.footer_inner{
    background-color: rgba(0, 0, 0, 0.85);
    padding: 50px 0px 10px 0px;
}
.footer_logo{
    text-align: center;
}
.footer_logo a img{
    max-width: 100%;
}
.add_block{
    color: #FFF;
}
.add_block a{
    color: #FFF;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.add_block a:active,
.add_block a:focus{
    color: #FFF;
    text-decoration: none;
    outline: none;
}
.add_block a:hover{
    color: #d60000;
    text-decoration: none;
}
.soc_wrap{
    float: left;
}
.soc_wrap a{
    display: block;
    margin: 5px 0px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #6c6d6d;
    text-align: center;
    line-height: 28px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.8);
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.soc_wrap a:active,
.soc_wrap a:focus{
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    outline: none;
}
.soc_wrap a:hover{
    background-color: #d60000;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}
.footer_navigation{
    display: block;
    margin-left: 100px;
}
.footer_navigation ul{
    margin: 0px;
    padding: 0px;
}
.footer_navigation ul > li{
    list-style: none;
}
.footer_navigation ul > li > a{
    display: inline-block;
    color: #FFF;
    padding: 3px 0px;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-transform: uppercase;
}
.footer_navigation ul > li > a:active,
.footer_navigation ul > li > a:focus{
    color: #FFF;
    text-decoration: none;
    outline: none;
}
.footer_navigation ul > li > a:hover{
    text-decoration: none;
    color: #d60000;
}
.copy_wrap{
    border-top: 1px solid #4f4f4f;
    padding-top: 10px;
    margin-top: 40px;
    color: #FFF;
}
span.copy_rt{
    float: left;
}
span.power{
    float: right;
}
span.power a:active,
span.power a:focus{
    outline: none;
}
.nav_trigger{
    display: none;
    font-size: 21px;
    width: 34px;
    height: 29px;
    line-height: 27px;
    color: #FFF;
    border: 1px solid #2f3293;
    border-radius: 3px;
    color: #2f3293;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 15px;
    top: 32px;
}
.nav_trigger i{
    margin-top: 3px;
    display: block;
}

.about_wrap{
    background:url(../images/about_bg.jpg) no-repeat center;
    background-attachment: fixed;
}
.about_inner{

    padding: 70px 15px;
}
.about_text{
    max-width: 1007px;
    margin: 0 auto;
    text-align: center;
    padding: 15px 100px;
    background-color: rgba(47, 50, 147, 0.8);
    color: #FFF;
    border: 1px solid #e8030e;
    border-radius: 15px;
}
.about_text h3{
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid #FFF;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 40px;
}
.about_text p{
    font-size: 15px;
    padding-bottom: 30px;
}
.contact_wrap{
    background: url(../images/contact_bg.jpg) no-repeat top;
    background-size: cover;
    background-attachment: fixed;
    padding: 70px 0px;
}
.contact_form_wrap{
    max-width: 1007px;
    border-radius: 15px;
    border: 1px solid #e8030e;
    padding: 30px 15px;
    background-color: rgba(47, 50, 147, 0.8);
    margin: 0 auto;
    text-align: center;
}
.contact_details h3{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
}
.contact_det_block{
    color: #FFF;
}
.contact_det_block .contact_ico{
    display: inline-block;
    font-size: 21px;
    color: #e00303;
    vertical-align: sub;
}
.contact_det_block a{
    display: inline-block;
    color: #FFF;
    transition: all 0.2s ease-out;
}
.contact_det_block a:active,
.contact_det_block a:focus{
    color: #FFF;
    text-decoration: none;
    outline: none;
}
.contact_det_block a:hover{
    text-decoration: none;
    color: #e00303;
}
.contact_span{
    display: inline-block;
    margin: 0px 10px;
}
.contact_span i{
    margin-right: 5px;
}
.form_block{
    margin: 15px 0px;
}
.form_block input[type="text"],
.form_block input[type="email"]{
    display: block;
    width: 100%;
    height: 48px;
    border: 1px solid #FFF;
    border-radius: 7px;
    background-color: transparent;
    color: #FFF;
    padding: 0px 10px;
}
.form_block textarea{
    display: block;
    width: 100%;
    border: 1px solid #FFF;
    border-radius: 7px;
    background-color: transparent;
    color: #FFF;
    resize: none;
    padding: 10px;
    min-height: 150px;
}
.form_block_submit{
    text-align: right;
}
.form_block_submit input[type="submit"]{
    display: inline-block;
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 8px 25px;
    background-color: transparent;
    color: #FFF;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.form_block_submit input[type="submit"]:hover{
    color: #e00303;
    border-color: #e00303;
}
form.contact_form .form_block:first-child{
    margin-top: 30px;
}
form.contact_form .form_block:last-child{
    margin-bottom: 0px;
}
#gmap{
    width: 100%;
    height: 280px;
    margin-top: 30px;
}
.product_mail_head{
    margin: 0px;
    padding: 10px 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #cb1528;
    color: #FFF;
}
.product_nav{
    text-align: center;
    padding: 0px 15px;
    background-color: #2e3192;
	margin-top:25px;
}
.product_nav a{
    display: inline-block;
    padding: 7px 15px;
    margin: 0px 15px;
    font-size: 18px;
    color: #FFF;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.product_nav a:active,
.product_nav a:focus{
    color: #FFF;
    text-decoration: none;
    outline: none;
}
.product_nav a.active{
    color: #e22013;
}
.product_nav a:hover{
    color: #e22013;
    text-decoration: none;
}
.pro_box_inner{
    margin: 30px 0px;
}
p.product_desc{
    margin-top: 30px;
    text-align: justify;
	font-size:15px;
}



/* Media queries */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .item_head{
        bottom: 0px;
    }
}
@media only screen and (max-width: 767px){
    .logo{
        float: none;
        padding-bottom: 10px;
    }
    .nav_wrap{
        float: none;
    }
    ul.navigation > li{
        float: none;
    }
    ul.navigation > li > a{
        display: block;
    }
    .nav_trigger{
        display: inline-block;
    }
    ul.navigation {
        display: none;
    }
    .nav_wrap{
        margin: 0px;
    }
    .item_head{
        bottom: 0px;
    }
    .item_head_block{
        margin: 15px auto;
        max-width: 380px;
    }
    .product_box{
        margin: 15px auto;
        max-width: 380px;
    }
    .pro_box_inner{
        margin: 30px auto;
        max-width: 380px;
    }
    .footer_logo{
        text-align: center;
        margin-bottom: 30px;
    }
    .add_block{
        text-align: center;
        margin-bottom: 30px;
    }
    .footer_nav{
        text-align: center;
    }
    .footer_nav_inner{
        display: inline-block;
        text-align: left;
    }
    .footer_navigation{
        margin-left: 50px;
    }
    span.copy_rt{
        float: none;
        display: block;
        text-align: center;
    }
    span.power{
        display: block;
        float: none;
        text-align: center;
        margin-top: 15px;
    }
    .banner_control_wrap{
        top: 120px;
    }
    .cap_wrap{
        bottom: 130px;
    }
    .about_text{
        padding: 15px;
    }
    .product_nav a{
        display: block;
        width: 100%;
        margin: 0px;
    }
}




































